mixin pic(alt, first, second, h, w)
  .replace-image
    img(src=first alt=alt height=h width=w).first
    img(src=second height=h width=w).second

.module.explainer.tc
  h3.explainer-title
    block title

  block variables
    - let explanation = {};

  .explainer-container
    if explanation.left
      .explainer-left
        a(href=explanation.left.link).explainer-link
          +pic(explanation.left.image.title, explanation.left.image.src, explanation.left.image.replace, explanation.left.image.height,  explanation.left.image.width)
          h4.explainer-subtitle
            | #{ explanation.left.title }
          p.explainer-description
            | #{ explanation.left.content }

    if explanation.right
      .explainer-right
        a(href=explanation.right.link).explainer-link
          +pic(explanation.right.image.title, explanation.right.image.src, explanation.right.image.replace, explanation.right.image.height,  explanation.right.image.width)
          h4.explainer-subtitle
            | #{ explanation.right.title }
          p.explainer-description
            | #{ explanation.right.content }

    if explanation.left || explanation.right
      .cl
