mixin pic(alt, first, second, w, h)
  .replace-image
    img(src=first alt=alt height=h width=w).first
    img(src=second height=h width=w).second

.page-content
  include ../modules/banner/template
  .module.content-grid
    h2.content-grid-title
      | Sustainable Liquidity Pool
    .content-grid-left
      p $9,770,092 Protocol Owned Liquidity
      p 99.7% of Total LP Supply
    .content-grid-right
      p
        | Spartacus plays an important role in Phantom ecosystem by funding liquidity pools with its crypto assets to earn a yield.
      p
        | Our liquidity pool is sustainably produced, which means it is not powered by inflationary means. It it democratically sourced and super fluid.

  .module.explainer.tc
    +pic('Bond 1', 'media/Bond1.png', 'media/Bond2.png', 83, 71)
    +pic('Bond 1', 'media/Bond1.png', 'media/Bond2.png', 166, 142)
    +pic('Bond 1', 'media/Bond1.png', 'media/Bond2.png', 249, 213)

    +pic('Army 1', 'media/Army1.png', 'media/Army2.png', 68, 96)
    +pic('Stake 1', 'media/Stake1.png', 'media/Stake2.png', 52, 120)

    +pic('Army 1', 'media/Army1.png', 'media/Army2.png', 136, 192)
    +pic('Stake 1', 'media/Stake1.png', 'media/Stake2.png', 104, 240)

    +pic('Army 1', 'media/Army1.png', 'media/Army2.png', 204, 288)
    +pic('Stake 1', 'media/Stake1.png', 'media/Stake2.png', 156, 360)
