.module.content-grid
  h2.content-grid-title
    block title

  block variables
    - let content_grid = [];

  each item in content_grid
    if item.title
      .content-grid-left
        p
          .content-grid-highlight(data-feed=item.feed data-decimals=item.decimals class=item.class)
            | #{ item.default }
          span 
            | #{ item.title }

    if item.content
      .content-grid-right.content-grid-content
        p
          | #{ item.content }

    .content-grid-clear
