.module.content-grid
  h2.content-grid-title
    block title

  block variables
    - let content_grid = [];

  each item in content_grid
    if item.title || item.content
      .content-grid-section
        if item.title
          .content-grid-left
            h3.content-grid-highlight(data-feed=item.feed data-decimals=item.decimals class=item.class)
              | #{ item.default }
            span.content-grid-subtitle
              | #{ item.title }

        if item.content
          .content-grid-right.content-grid-content
            p
              | #{ item.content }

        .content-grid-clear
