if site && site.stats && site.stats.length
  footer.footer-float
    ul.footer-list
      each stat in site.stats
        li.footer-item
          p.footer-label #{ stat.title }
          p(data-feed=stat.feed data-numerator=stat.numerator data-denominator=stat.denominator data-decimals=stat.decimals class=stat.class).footer-value
            | #{ stat.default }
